
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 600px;
            justify-content: center;
            align-items: center;
            
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            
        }
        .gallery-item {
            list-style: none;
        }
        .gallery-item img {
            width: 150px;
            height: 100px;
            object-fit: cover;
            cursor: pointer;
            transition: transform 0.3s;
        }
        .gallery-item img:hover {
            transform: scale(1.1);
        }
        .basicLightbox {
            z-index: 1000 !important;
            position:absolute;
            right: 6.5%;
            bottom: 26%;

        }